---
import Skills from '../components/Skills.astro';
import Aboutme from '../components/Aboutme.astro';
import Section from '../components/Section.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Header/>
    <main class="max-w-3xl mx-auto px-2 md:px-0"> 
        <Section id="aboutme">
            <Aboutme/>
        </Section>
        <Section id="skills">
            <Skills/>
        </Section>
        <Section id="projects">
        </Section>
        <Section id="experience">
        </Section>
    </main>
    <Footer/>
</Layout>
